<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      table, th, td {
        margin: 10px;
        padding: 10px;
        background: #F5F5F5;
        border-bottom:  1px solid black;
        text-align: left;
      }
      table {
        border: 1px solid black;
      }
      .action {
        display: flex;
        height: 25px;
      }
      a, button, input[type=submit] {
        height: 25px;
        margin: 0 30px 0 0; 
      }
    </style>
</head>
<body>
  <table>
      <tr>
          <th><%= "概要 : " + @todo.title %></th>
      </tr>
      <tr>
          <th><%= "詳細 : " +  @todo.body %></th>
      </tr>
  </table>
  <div class="action">
    <%= link_to "Edit", edit_todo_path(@todo) %>
    <%= link_to "Destroy", todo_path(@todo), method: :delete, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
    <%= link_to ("戻る"), "/" %>
  </div>
  
</body>
</html>